.gs-step-back, .gs-step-forward {
    width:28px;
    height:28px;
    cursor:pointer;
    overflow:hidden;
}
.gs-step-back {
    background: url("jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
.gs-step-back:hover {
    background: url("jplayer.blue.monday.jpg") -29px -112px no-repeat;
}
.gs-step-forward {
    background: url("jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
.gs-step-forward:hover {
    background: url("jplayer.blue.monday.jpg") -29px -141px no-repeat;
}
