.recorder_bar {
    background: lightgreen;
    cursor: move;
}

.basemarker {
    top: 0px;
    left: 0px;
    width: 1px;
    height: 100px;
    background: black;
}

.basemarker_top {
    top: 0px;
    left: -4px;
    width: 8px;
    height: 8px;
    background: black;
    cursor: move;
}

.action_container {
}

.action {
    left: -5px;
    top: -40px;
    width: 10px;
    height: 80px;
    border: 1px solid grey;
}

.action.name_B, .action.name_AB {
    background: black;
}
.action.name_W, .action.name_AW {
    background: white;
}
.action.name_VT {
    background: lightblue;
}
.action.name_AE {
    background: lightred;
}
.action.name_CR, .action_name_LB, .action_name_TR, .action_name_MA, .action_name_SQ, .action_name_TW, .action_name_TB, .action_name_DD {
    background: lightyellow;
}
.action.name_C, .action.name_N, .action.name_GB, .action.name_GW, .action.name_DM, .action.name_HO, .action.name_UC, .action.name_V, .action.name_BM, .action.name_DO, .action.name_IT, .action.name_TE {
    background: lightgrey;
}

.action .drag {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 60px;
    cursor: move;
}

.action.currentAction {
    left: -9px;
    top: -44px;
    border: 4px solid red;
}

